html {
  background-color: #111;
}

@font-face {
  font-family: "Frontage";
  src: url("../fonts/FrontageCondensedOutline/FrontageCondensed-Outline.otf");
}

@font-face {
  font-family: "Russel";
  src: url("../fonts/RussellRg.otf");
}

body {
  scroll-behavior: smooth;
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headline {
  color: red;
  font-size: 8.59vw;
  margin-left: 2%;
  font-family: frontage;
  font-weight: 500;
  text-align: center;
  margin-top: -5%;
}

@media screen and (max-width: 1600px) {
  .headline {
    margin-top: -15%;
  }
}

@media screen and (max-width: 1200px) {
  .headline {
    margin-top: -20%;
  }
}

@media screen and (max-width: 700px) {
  .headline {
    margin-top: -30%;
  }
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 1600px) {
  nav {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

nav h3, nav h4, nav h5 {
  color: white;
}

nav .form-control {
  width: 50%;
  height: 6vh;
  font-size: 1.5vw;
  font-family: 'Nunito', sans-serif;
  margin: auto;
  padding: 12px;
  margin-left: 20%;
}

nav .form-group {
  margin: 0;
  margin-bottom: 5%;
  margin-top: 3%;
}

nav input {
  background-color: #111;
  border: solid 2px white;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav input::-webkit-input-placeholder {
  color: white;
}

nav input:-ms-input-placeholder {
  color: white;
}

nav input::-ms-input-placeholder {
  color: white;
}

nav input::placeholder {
  color: white;
}

nav input:focus {
  background-color: white;
  color: black;
}

nav .btn {
  width: 10%;
  height: 6vh;
  background-color: #111;
  color: white;
  border: solid 2px white;
  font-size: 1.5vw;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .btn:hover {
  background-color: white;
  color: black;
  border: solid 2px white;
}

body {
  background-color: #111;
  height: 100vh;
  overflow-x: hidden;
}

.topgraphic {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 39%;
}

.movieletter {
  margin-left: 25%;
  -webkit-animation: wobbletext;
          animation: wobbletext;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  font-size: 2.3vw;
  font-family: frontage;
  font-weight: 600;
  color: gold;
}

.m-l {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.o-l {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.v-l {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.i-l {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.e-l {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.s-l {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#ball1 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#ball2 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

#ball3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#ball4 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#ball5 {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

#ball6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.ball {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.ball img {
  width: 50%;
  margin-left: 25%;
  -webkit-animation: wobble;
          animation: wobble;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  -webkit-text-decoration-color: none;
          text-decoration-color: none;
  color: white;
}

a:visited {
  color: red;
}

a:active {
  color: white;
}

a:hover {
  color: gold;
}

#ribbon-left {
  width: 200%;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
}

#ribbon-right {
  width: 200%;
  -webkit-transform: translate(-30%, -20%);
          transform: translate(-30%, -20%);
}

footer {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer h3 {
  font-family: 'Nunito', sans-serif;
  color: white;
  text-align: center;
  font-size: 0.8vw;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: title;
}

.descrip {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: descrip;
}

.blocker {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.tube {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tube;
  border: solid 2px red;
  height: 30vh;
  width: 25vw;
}

@media screen and (max-width: 1600px) {
  .tube {
    width: 35vw;
  }
}

@media screen and (max-width: 700px) {
  .tube {
    width: 45vw;
  }
}

.producer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: prod;
}

.actor {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: actor;
}

.runtime {
  grid-area: runtime;
}

.release {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: release;
}

.rating {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: rating;
}

.modalcontent {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title title title title close" "tube tube descrip descrip ." "tube tube descrip descrip ." "actor actor release release ." "prod prod rating rating .";
  gap: 16px;
  font-weight: 100;
}

@media screen and (max-width: 1600px) {
  .modalcontent {
    gap: 8px;
    padding: 8px;
  }
}

@media screen and (max-width: 700px) {
  .modalcontent {
    gap: 4px;
    padding: 4px;
  }
}

.modalcontent * {
  margin: 8px;
}

@media screen and (max-width: 1600px) {
  .modalcontent * {
    margin: 4px;
  }
}

@media screen and (max-width: 700px) {
  .modalcontent * {
    padding: 4px;
  }
}

.modalcontent .title {
  font-size: 2.8vw;
  font-family: frontage;
  color: red;
  font-weight: 600;
}

@media screen and (max-width: 1600px) {
  .modalcontent .title {
    font-size: 4vw;
  }
}

@media screen and (max-width: 700px) {
  .modalcontent .title {
    font-size: 5vw;
  }
}

.modalcontent .descrip {
  font-size: 1.8vw;
  font-family: frontage;
}

.modalcontent .descrip p {
  font-size: 1.05vw;
  font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 1600px) {
  .modalcontent .descrip {
    margin: 4px;
    font-size: 2vw;
  }
  .modalcontent .descrip p {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 700px) {
  .modalcontent .descrip {
    margin: 2px;
    font-size: 3vw;
  }
  .modalcontent .descrip p {
    font-size: 2.2vw;
  }
}

.modalcontent .rating {
  font-size: 1.05vw;
  font-family: 'Nunito', sans-serif;
}

.modalcontent .rating h4 {
  font-size: 1.8vw;
  font-family: frontage;
}

@media screen and (max-width: 1600px) {
  .modalcontent .rating {
    font-size: 1.5vw;
  }
  .modalcontent .rating h4 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 700px) {
  .modalcontent .rating {
    font-size: 2.2vw;
  }
  .modalcontent .rating h4 {
    font-size: 3vw;
  }
}

.modalcontent .producer {
  font-size: 1.05vw;
  font-family: 'Nunito', sans-serif;
}

.modalcontent .producer h4 {
  font-size: 1.8vw;
  font-family: frontage;
}

@media screen and (max-width: 1600px) {
  .modalcontent .producer {
    font-size: 1.5vw;
  }
  .modalcontent .producer h4 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 700px) {
  .modalcontent .producer {
    font-size: 2.2vw;
  }
  .modalcontent .producer h4 {
    font-size: 3vw;
  }
}

.modalcontent .actor {
  font-size: 1.05vw;
  font-family: 'Nunito', sans-serif;
}

.modalcontent .actor h4 {
  font-size: 1.8vw;
  font-family: frontage;
}

@media screen and (max-width: 1600px) {
  .modalcontent .actor {
    font-size: 1.5vw;
  }
  .modalcontent .actor h4 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 700px) {
  .modalcontent .actor {
    font-size: 2.2vw;
  }
  .modalcontent .actor h4 {
    font-size: 3vw;
  }
}

.modalcontent .runtime {
  font-size: 1.05vw;
  font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 1600px) {
  .modalcontent .runtime {
    font-size: 1.5vw;
  }
  .modalcontent .runtime h4 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 700px) {
  .modalcontent .runtime {
    font-size: 2.2vw;
  }
  .modalcontent .runtime h4 {
    font-size: 3vw;
  }
}

.modalcontent .release {
  font-size: 1.05vw;
  font-family: 'Nunito', sans-serif;
}

.modalcontent .release h4 {
  font-size: 1.8vw;
  font-family: frontage;
}

@media screen and (max-width: 1600px) {
  .modalcontent .release {
    font-size: 1.5vw;
  }
  .modalcontent .release h4 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 700px) {
  .modalcontent .release {
    font-size: 2.2vw;
  }
  .modalcontent .release h4 {
    font-size: 3vw;
  }
}

.modalcontent .close {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: close;
  color: white;
  position: relative;
  font-size: 2vw;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.top-movies {
  font-size: 3.6vw;
  font-family: frontage;
  text-align: center;
  color: red;
  font-weight: 100;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.modal {
  background-color: #111;
  color: white;
  width: 55%;
  height: auto;
  position: fixed;
  margin: 12px;
  left: 22.5%;
  top: 5%;
  -webkit-box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1600px) {
  .modal {
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 700px) {
  .modal {
    width: 90%;
    left: 5%;
  }
}

.modal #closemodal {
  font-size: 2.2vw;
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 45%;
  font-family: 'Nunito', sans-serif;
}

#movie-container {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4px;
  margin: auto;
  margin-bottom: 2.5%;
  width: 90%;
}

@media screen and (max-width: 1600px) {
  #movie-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  #movie-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  #movie-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.movieposter {
  overflow: hidden;
}

.imagecontainer {
  margin: auto;
  -webkit-box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.7);
          box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.7);
  background-color: #111;
  background-position: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: contain;
}

.imagecontainer:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.container {
  background-color: #111;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@-webkit-keyframes wobbletext {
  0% {
    -webkit-transform: translateX(23%) translateY(-53vh);
            transform: translateX(23%) translateY(-53vh);
  }
  50% {
    -webkit-transform: translateX(21%) translateY(-55vh);
            transform: translateX(21%) translateY(-55vh);
  }
  100% {
    -webkit-transform: translateX(23%) translateY(-53vh);
            transform: translateX(23%) translateY(-53vh);
  }
}

@keyframes wobbletext {
  0% {
    -webkit-transform: translateX(23%) translateY(-53vh);
            transform: translateX(23%) translateY(-53vh);
  }
  50% {
    -webkit-transform: translateX(21%) translateY(-55vh);
            transform: translateX(21%) translateY(-55vh);
  }
  100% {
    -webkit-transform: translateX(23%) translateY(-53vh);
            transform: translateX(23%) translateY(-53vh);
  }
}

#curtain_container {
  display: inline;
  overflow: hidden;
  margin-top: -5%;
}

.leftside {
  overflow: hidden;
  position: absolute;
  -webkit-animation: curtainleft 4s ease 1;
          animation: curtainleft 4s ease 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  top: -5%;
  width: 72.5%;
  height: 100%;
}

.leftside img {
  width: 100%;
  height: 100%;
}

#loadtext {
  -webkit-transform: translateY(60vh) translateX(15%);
          transform: translateY(60vh) translateX(15%);
  width: 67%;
  height: auto;
  margin: auto;
  display: block;
  color: white;
  font-size: 4vw;
  font-family: Frontage;
  font-weight: 300;
}

.rightside {
  overflow: hidden;
  position: absolute;
  right: 0;
  -webkit-animation: curtainright 4s ease 1;
          animation: curtainright 4s ease 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  top: -5%;
  width: 72.5%;
  height: 100%;
}

.rightside img {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes curtainleft {
  50% {
    -webkit-transform: skew(5deg) scale(0.98);
            transform: skew(5deg) scale(0.98);
  }
  90% {
    -webkit-transform: skew(-3deg) scale(0.98);
            transform: skew(-3deg) scale(0.98);
  }
  100% {
    -webkit-transform: skew(0deg) scale(1);
            transform: skew(0deg) scale(1);
    width: 20%;
    margin-left: -22%;
  }
}

@keyframes curtainleft {
  50% {
    -webkit-transform: skew(5deg) scale(0.98);
            transform: skew(5deg) scale(0.98);
  }
  90% {
    -webkit-transform: skew(-3deg) scale(0.98);
            transform: skew(-3deg) scale(0.98);
  }
  100% {
    -webkit-transform: skew(0deg) scale(1);
            transform: skew(0deg) scale(1);
    width: 20%;
    margin-left: -22%;
  }
}

@-webkit-keyframes curtainright {
  50% {
    -webkit-transform: skew(-5deg) scale(0.98);
            transform: skew(-5deg) scale(0.98);
  }
  90% {
    -webkit-transform: skew(3deg) scale(0.98);
            transform: skew(3deg) scale(0.98);
  }
  100% {
    -webkit-transform: skew(0deg) scale(1);
            transform: skew(0deg) scale(1);
    width: 20%;
    margin-right: -22%;
  }
}

@keyframes curtainright {
  50% {
    -webkit-transform: skew(-5deg) scale(0.98);
            transform: skew(-5deg) scale(0.98);
  }
  90% {
    -webkit-transform: skew(3deg) scale(0.98);
            transform: skew(3deg) scale(0.98);
  }
  100% {
    -webkit-transform: skew(0deg) scale(1);
            transform: skew(0deg) scale(1);
    width: 20%;
    margin-right: -22%;
  }
}

@-webkit-keyframes floorzoom {
  100% {
    margin-bottom: -100%;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@keyframes floorzoom {
  100% {
    margin-bottom: -100%;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@-webkit-keyframes moveboardani {
  90% {
    -webkit-transform: rotate(-22deg);
            transform: rotate(-22deg);
    -webkit-transform-origin: 10% 42%;
            transform-origin: 10% 42%;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes moveboardani {
  90% {
    -webkit-transform: rotate(-22deg);
            transform: rotate(-22deg);
    -webkit-transform-origin: 10% 42%;
            transform-origin: 10% 42%;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

#boardanim {
  -webkit-animation: moveboardani 1.2s cubic-bezier(1, -0.18, 1, 1.11) 1;
          animation: moveboardani 1.2s cubic-bezier(1, -0.18, 1, 1.11) 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#dirboard {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 47.5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */